@tailwind base;
@tailwind components;
@tailwind utilities;

/* Modern scrollbar styling */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #bbbbbb;
  border-radius: 9999px;
  transition: background-color 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999999;
}

/* Firefox */
* {
  scrollbar-width: thin;
  /* pode ser 'auto', 'thin' ou 'none' */
  scrollbar-color: #bbbbbb transparent;
}

/* Chart transitions */
.recharts-area path,
.recharts-line-curve,
.recharts-line path {
  transition: all 300ms ease-in-out;
}

@layer base {
  /* Chart color transitions */
  .recharts-line-curve {
    transition: stroke 300ms ease-in-out;
  }
  .recharts-area {
    transition: fill 300ms ease-in-out;
  }

  :root {
    --radius: 0.5rem;

    /* Cores definidas para tema claro */
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    /* Tokens para uso com tema claro */
    --background: 0 0% 100%;
    /* #FFFFFF */
    --foreground: 0 0% 0%;
    /* #000000 */
    --card: 0 0% 100%;
    /* #FFFFFF */
    --card-foreground: 0 0% 0%;
    /* #000000 */
    --popover: 0 0% 100%;
    /* #FFFFFF */
    --popover-foreground: 0 0% 0%;
    /* #000000 */
    --secondary: 210 40% 96.1%;
    /* #F1F5F9 */
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    /* #F1F5F9 */
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    /* #F1F5F9 */
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    /* #EF4444 */
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    /* #E2E8F0 */
    --input: 214.3 31.8% 91.4%;
    /* #E2E8F0 */
    --ring: 222.2 84% 4.9%;
    /* #0F172A */

    /* Sidebar variables */
    --sidebar-background: 222.2 84% 4.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 215 20.2% 65.1%;
  }

  * {
    @apply border-gray-200;
  }

  body {
    @apply font-sans tracking-tighter antialiased bg-white text-black;
  }

  /* Make h-svh work like h-screen but with svh units */
  .h-svh {
    height: 100svh;
  }

  .min-h-svh {
    min-height: 100svh;
  }
}